<li [ngClass]="{'selected-nav-bar': !showList}" (click)="showItem()">
  <div>
    <i class="{{ iconMain }}" [ngStyle]="{'font-size': fontSize  }"></i>
    <span class="link_name selected noselect">{{ title }}</span>
    <i class="bx bxs-chevron-down arrow" [ngClass]="{activate: !showList}"></i>
  </div>
</li>

<ng-container *ngFor="let item of subItems" >
  <li [hidden]="showList">
    <div class="sub-item">
      <i class="{{ item.icon }}"></i>
      <span class="link_name selected noselect">{{ item.nome }}</span>
      <i class="bx bxs-chevron-down arrow"></i>
    </div>
  </li>
</ng-container>



