.sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: max(300px, 30vw);
  max-width: max(400px, 35vw);
  height: 100vh;
  background-color: var(--color-blue-dark);
  position: relative;
}

.logo-details {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.logo-details img { 
  width: max(60px, 6vw);
  margin: 30px auto;
}

.logo-details .logo-name{ 
 color: var(--color-gray);
 font-size: var(--responsive-title-h1);
 margin-top: 12px;
}

.nav-links {
  margin-top: 20px;
  width: 100%;
  padding: 0 1.2rem;
  height: 70%;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-red); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-red-transparent); 
}

.nav-links .selected-nav-bar { 
  background-color: var(--color-red-transparent);
  border-radius: 8px;

}

.link_name {
  padding-left: max(30px, 1rem);
  font-size: var(--responsive-span-menu);
}

.profile-details {
  width: 100%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px;
}

.profile-details .profile-content img {
  border-radius: 15px;
  width: max(45px, 3vw);
}

.profile-details .name-job {
  margin-left: 23px;
}