.container-sidebar-alef {
  display: flex;
}
.container-sidebar-alef.reverse-sidebar {
  flex-direction: row-reverse;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 300px;
  width: max(300px, 24vw);
  max-width: max(400px, 26vw);
  height: 100vh;
  background-color: var(--color-blue-dark);
  position: relative;
  animation-name: easeIn;
  transition: width ease-in-out 800ms;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 100;
}

.sidebar.close {
  animation-fill-mode: both;
  animation-name: easeOut;
  animation-duration: 100ms;
  
}

.logo-details {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.logo-details img {
  width: max(50px, 5vw);
  margin: 30px auto;
}

.logo-details .logo-name {
  color: var(--color-gray);
  font-size: var(--responsive-title-h1);
  margin: 25px 0;
}

.nav-links {
  margin-top: 20px;
  width: 100%;
  padding: 0 1.2rem;
  height: 80%;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-red);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-red-transparent);
}

.nav-links .selected-nav-bar {
  background-color: var(--color-red-transparent);
  border-radius: 8px;
}

.link_name {
  padding-left: max(30px, 1rem);
  font-size: var(--responsive-span-menu);
}

.profile-details {
  width: 100%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px;
}

.profile-details .profile-content img {
  border-radius: 15px;
  width: max(45px, 3vw);
}

.profile-details .name-job {
  margin-left: 23px;
}

.home-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: max(300px, 24vw);
  transition: all ease-in-out 500ms;
}

.home-section.widescreen {
  margin-left: 0px;
} 

.myContent {
  margin: max(50px, 3.5vw) auto 0px;
  max-width: 1200px;
}

@keyframes easeIn {
  from {
    min-width: 0px;
    width: max(0px, 0vw);
    max-width: max(0px, 0vw);
  }
  to {
    min-width: 300px;
    width: max(300px, 24vw);
    max-width: max(400px, 26vw);
  }
}

@keyframes easeOut {
  from {
    min-width: 300px;
    width: max(300px, 24vw);
    max-width: max(400px, 26vw);
  }
  to {
    visibility: hidden;
    min-width: 0px;
    width: max(0px, 0vw);
    max-width: max(0px, 0vw);
  }
}

